{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center" style="margin: 0% 15% 5% 15%">
    🔮 Create a professional passport photo online with a single click in just
    one second
  </h1>
  {% comment %}
  <p class="lead text-center" style="margin: 0% 15% 5% 15%">
    🔮 Our sophisticated AI can edit your selfie photos to meet the specific
    size and background requirements of your country's passport or visa
    application. So you can focus on other aspects of your trip.
  </p>
  {% endcomment %}
  <div
    class="row"
    style="margin: 0% 15% 5% 15%; text-align: center; justify-content: center"
  >
    <a href="{% url 'upload' %}" class="landingbtn">Try it for free</a>
  </div>
  <div class="row" style="margin: 0% 15% 5% 15%">
    <!-- <div class="card">
            <div class="card-body">
                <h5 class="card-title">Background removal</h5>
                <p>Background cutout in superb quality with smooth edges, colors with fidelity, and stunning details
                    such as hair and small holes. Release yourself from heavy workflow. Don’t waste two hours on
                    producing a passport photo when you can do it with one click. </p>
            </div>
        </div> -->
    <div
      class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      style="background-color: rgb(45, 47, 62)"
    >
      <div class="col-md-6 p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"
          >Auto background removal</strong
        >
        <p class="card-text mb-auto">
          Background cutout in superb quality with smooth edges, colors with
          fidelity, and stunning details such as hair and small holes.
        </p>
      </div>
      <div class="col-md-6 d-none d-lg-block">
        <img src="{% static 'img/example1.png' %}" alt="" />
      </div>
    </div>
    <div
      class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      style="background-color: rgb(45, 47, 62)"
    >
      <div class="col-md-6 p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"
          >Auto image adjustments</strong
        >
        <p class="card-text mb-auto">
          Portrait photos are auto-resized, cropped, and adjusted to official
          dimensions with centered faces for IDs, passports, visas, and licenses
          across the USA, Canada, China, and the EU.
        </p>
        {% comment %}
        <a href="{% url 'upload' %}" class="btn btn-primary">Try it for free</a>
        {% endcomment %}
      </div>
      <br />
      <div class="col-md-6 d-none d-lg-block">
        <img
          src="{% static 'img/example2.png' %}"
          width="270"
          height="auto"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
